
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="button" id="btnGetUsers" value="get users" onclick="postUser()" />
<div id="divResult">

</div>

@section Footer {
    <script src="~/Scripts/Ui/UserManagement.js"></script>
}