
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Transactions</h2>

<div class="form-group">
    <label class="control-label col-md-2">Type:</label>
    <div id="divAccountTypes"></div><br />
</div>

<div class="form-group">
    <label class="control-label col-md-2">Account:</label>
    <div id="divFrom"></div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Date From:</label>
    <div>
        <input type="date" name="dateFrom" id="dateFrom" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Date To:</label>
    <div>
        <input type="date" name="dateTo" id="dateTo" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="button" class="btn btn-primary" value="View Transactions" onclick="getTransactions()" />
    </div>
</div>

<div id="divResult" class="table-responsive"></div>

@section Footer {
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/ui/TransactionManagement.js"></script>
}