
@{
    ViewBag.Title = "Asynchronous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asynchronous</h2>
<div class="cover">
    
</div>
<div id="messageBox">
    <div id="messageContent">
        <div id="message"></div>
        <br />
        <button type="button" id="messageOK">OK</button>
    </div>
</div>
<button type="button" id="btnShowMessage">Show Message</button>